.manage-user-container {
    padding: 10px;
    .title {
        font-weight: 600;
        font-size: 20px;
    }
    .user-content {
        .btn-add-new {
            margin: 15px 0px;
            .icon-add {
                margin-right: 10px;
            }
        }
    }
}

.modal-create-user {
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-preview {
        width: 150px;
        height: 150px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
}

.modal-view-user {
    .avatar {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 12px 0;
        border: 2px solid black;
    }
    .card {
        margin: auto;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .card-body {
            display: flex;
            flex-direction: column;
        }
    }
}
