.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding-top: 24px;
    justify-content: center;

    .left-content {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        width: 70%;
        .title {
            font-size: 30px;
            font-weight: 600;
            color: #967e76;
        }

        .q-content {
            text-align: center;
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            min-height: 400px;
            .question {
                font-size: 24px;
                font-weight: 500;
            }

            .question-content {
                padding: 0 24px;
                .answer {
                    font-size: 20px;
                    .a-child {
                        text-align: left;
                    }
                }
                .q-image {
                    width: 100%;
                    height: 150px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        .footer {
            padding-bottom: 12px;
            justify-content: center;
            display: flex;
            margin: auto;
            gap: 30px;
            .prev-next-button {
                display: flex;
                gap: 10px;
            }
        }
    }
    .right-content {
        width: 30%;
        border: 2px solid red;
    }
}
