.list-quiz-container {
    display: flex;
    gap: 50px;
    padding: 20px;
    background-color: transparent;
    .card {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

        .image-box {
            height: 200px;
            border-bottom: 2px solid #d2d2d2;
            img {
                max-height: 198px;
                object-fit: contain;
            }
        }
        .card-text {
            min-height: 50px;
        }
    }
}
